#products-section{
    background-color: black; 
    text-align: center;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-table{
    display: grid;
    grid-template-columns: 10% repeat(4,auto);
    grid-template-rows: auto;
    background-color: #DDDDDD;
    border-radius: 15px;
    border: white solid;
    border-width: 3px;
    align-items: center;
    row-gap: 15px;
    padding: 10px;


}
/* .grid-item{
    border: 1px solid #fff;
} */
.product-image{
    height: 60px;
    justify-self: center;
}
